/node_modules
/public/hot
/public/adminerewrwefsiw123dewscklzNwdq.php
/public/storage
/public/images
/public/tmp_files
/storage/*.key
/storage/media-library
/storage/clockwork
/storage/fonts/pdf/cache
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public_html
public/.DS_Store
.DS_Store
/tmp
/_docker/logs
/storage/logs/*.log
/bootstrap/cache/*
